
<!DOCTYPE html>
<head>
  <meta charset="utf-8">

  <!-- Load d3.js -->
  <script src="https://d3js.org/d3.v4.js"></script>

  <!-- Initialize a select button -->
  <select id="selectButton"></select>



  <!-- Color Scale -->
  <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
</head>

<body style="background-color: rgb(15, 109, 182)">
  <!-- <h1>
      <span>Dashboard</span></a>
    </h1> -->
    {% extends "template.html" %}
    {% block content %}
    <!-- Create a div where the graph will take place -->
    <div id= "title_chunk"></div>
    <div id="my_dataviz"></div>
    <div id="legend_chunk"></div>
    <!-- <script type=“text/javascript” src="evan.js"></script> -->
    <script type="text/javascript" src="./static/js/evan.js"></script>
    {% endblock %}
</body>

