<!DOCTYPE html>
<html lang="en">


<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!-- Load plotly.js into the DOM -->
	<title>Home</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://d3js.org/d3.v5.min.js"></script>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
	{% extends "template.html" %}
	{% block content %}
	
    <div class="container-fluid">
		
		<div class="row">
		  <div class="col-md-2">
			<div class="well">
				<h5><strong>Occupied Housing Units</strong> A housing unit is occupied if a person or group of persons is living in
					it at the time of the interview or if the occupants are only temporarily absent, as for example, on
					vacation. The persons living in the unit must consider it their usual place of residence or have no
					usual place of residence elsewhere. The count of occupied housing units is the same as the count
					of households. Vacation homes are not occupied housing units.
				</h5>
			</div>
	        <div class="well">
	         <h5>YEAR</h5>
	         <select id="selDataset"></select>
			</div>
		  </div>

		  <div class="col-md-8">
			<div id='geoMap'><!-- Plotly chart will be drawn inside this DIV --></div>
		  </div>

		  <div class="col-md-2">
			<div >Maybe SOMETHING HERE</div>
		  </div>

		</div>
		
		<div class="row">
		  <div class="col-lg-12">
			<div id="scaplot"></div>
		  </div>
		</div>

	</div>

	<script type="text/javascript" src="./static/js/geomap.js"></script>

	{% endblock %}
</body>

</html>


