<!DOCTYPE html>
<html lang="en">


<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>SMOCAPI</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <!-- D3.js -->
	<script src="https://d3js.org/d3.v5.min.js"></script>

	<!-- jQuery -->
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>

	<!-- Color Scale -->
	<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
</head>

<body>
	{% extends "template.html" %}
	{% block content %}
	
	<div class="container-fluid">

		<div class="row">
			<div class="col-md-2">
					<div class="well">
						<!-- Initialize a select button -->
						<select id="selectButton"></select>
					</div>
			</div>
					
			<div class="col-md-8" style="background-color: rgb(175, 197, 238); padding-left: 10%;">
						<!-- Create a div where the graph will take place -->
						<div id= "title_chunk"></div>
						<div id="my_dataviz"></div>
						<div id="legend_chunk"></div>
			</div>

			<div class="col-md-2" >
				<h3>An indicator of house affordability: <strong style="color:coral">SMOCAPI</strong> (selected monthly owner costs as	a percentage of	household	
					income)</h3>
				<br>
				<p>Housing affordability is determined by calculating
					the percentage of the household’s total annual
					gross income paid for housing costs (mortgage/
					rent, utilities, mortgage insurance, etc.)
				</p>
				<br>
				<h4> <strong style="color:coral">Cost Burden:</strong> One of the four HUD (The US Department of Housing and Urban Development) housing problems. 
					Cost burden refers to households whose monthly housing costs, including rent or mortgage payments and utility costs, 
					exceed 30 percent of a household’s monthly income. </h4>
				<br>
				<h4><strong style="color:coral">Owner-Occupied</strong> - A housing unit is owner-occupied if the owner or co-owner lives in the unit, even if it is mortgaged or not fully paid for. 
					The owner or co-owner must live in the unit and usually is Person 1 on the questionnaire. 
					The unit is "Owned by you or someone in this household with a mortgage or loan" </h4>

		   </div>
		</div>

	</div>
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
	
					<div class="row margin-top-50">
					  <div class="col-md-2" style="padding-top: 5%;">
						<aside class="filters">
						  <div class="panel panel-default">
							<div class="panel-heading">Filter Search for $$</div>
							<div class="panel-body">
							  <form>
								<div class="form-group">
								  <ul class="list-group" id="filters">
									<li class="filter list-group-item">
									  <label for="year">Enter a Year</label>
									  <input class="form-control" id="year" type="text" placeholder="2011">
									  <label for="year">-------</label>
									</li>
									<li class="filter list-group-item">
									  <label for="date">Enter a State</label>
									  <input class="form-control" id="state" type="text" placeholder="Iowa">
									</li>
								  </ul>
								</div>
								<button id="filter-btn" type="button" class="btn btn-default">Filter Table</button>
							  </form>
							</div>
						  </div>
						</aside>
					  </div>
					  <div class="col-md-8" style="background-color: rgb(175, 197, 238);">
						<div id="canvas-holder" style="width:100%">
							<canvas id="myChart"></canvas>
						</div>
					  </div>
					  <div class="col-md-2">
					  </div>
					</div>
	
			</div>	
		</div>
		
	</div>
	
		
	<script type="text/javascript" src="./static/js/line_and_sca.js"></script>

	{% endblock %}
</body>


</html>



