<!DOCTYPE html>
<html lang="en">


<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>SMOCAPI</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://d3js.org/d3.v5.min.js"></script>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
	{% extends "template.html" %}
	{% block content %}
	
    <h1>TEST FOR line and scatter CHART PAGE</h1>
	<div id='YOUR UNIQUE MAP ID'><!-- chart will be drawn inside this DIV --></div>
		
	<script type="text/javascript" src="./static/js/line_and_sca.js"></script>

	{% endblock %}
</body>


</html>

