
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Flask Parent Template</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg nav-custom-small" style="background-image: url('https://sonomacounty.ca.gov/uploadedImages/Sonoma_County_Portal/PRMD/_Uploaded_Images/_Carousel/Planning/Housing%20types%20red%20banner%20500x250.jpg?n=3389'); padding:3% ;">
      <!-- "background-color: #0BADA6;" -->
      
    <div class="container-fluid">
      <a class="navbar-brand" style="border-radius: 15px 50px;background: #9D97C7;color:black;margin-left:50px; padding:0.5% ;font-size:16px; font-weight:bold" href="{{ url_for('home') }}"><span style="padding-top: 50%;">US HOUSING INFO</span>
      </a>
      <!--  font-weight:600;
        ;" -->
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto" style="border-radius: 15px 50px;background: #9D97C7;color:black; margin-left:50px; padding:0.5%; font-size:16px; font-weight:bold" >
          <li class="nav-item active">
            <a class="nav-link" style="color: black;text-decoration: underline;" href="{{ url_for('value') }}">Home Values</a>
          </li>
          <li class="nav-item active" >
            <a class="nav-link" style="color: black;text-decoration: underline;" href="{{ url_for('smocapi') }}">SMOCAPI</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" style="color: black;text-decoration: underline;" href="{{ url_for('fuel') }}">Heating Fuel</a>
          </li>
          
         </ul>
      </div>
    </div>
      
    </nav>
        
    {% block content %}
    {% endblock %}

  </body>
</html>